page-login {
    .contenido{
        background-image: url("../assets/imgs/verde.png");
    }
    .botonfb{
        width: 90%;
        background-color: #3b5998;
    }
    .botongo{
        width: 90%;
        background-color: #d34836;
    }
    .ifb{
        margin-left: -10px;
    }
    .igo{
        margin-left: -26px;
    }
}
