<ion-header>
  <ion-navbar color="anime" >
    <ion-title text-center class="titulo" >
      Animematico
    </ion-title>
    <ion-buttons left >
        <button ion-button clear icon-only menuToggle >
          <ion-icon name="menu"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="fondo" >
  <!-- <ion-row>
    <ion-col col-3 *ngFor="let shonen of shonen let i = index" >
      <img (click)="irShonen(i)" class="animeimg" [src]="shonen.img" alt="">
      <p class="animenombre" text-center > {{ shonen.nombre }} </p>
    </ion-col>
    <ion-col col-3 *ngFor="let shonen of shonen let i = index" >
      <img (click)="irShonen(i)" class="animeimg" [src]="shonen.img" alt="">
      <p class="animenombre" text-center > {{ shonen.nombre }} </p>
    </ion-col>
    <ion-col col-3 *ngFor="let shonen of shonen let i = index" >
      <img (click)="irShonen(i)" class="animeimg" [src]="shonen.img" alt="">
      <p class="animenombre" text-center > {{ shonen.nombre }} </p>
    </ion-col>
    <ion-col col-3 *ngFor="let shonen of shonen let i = index" >
      <img (click)="irShonen(i)" class="animeimg" [src]="shonen.img" alt="">
      <p class="animenombre" text-center > {{ shonen.nombre }} </p>
    </ion-col>
    <ion-col col-3 *ngFor="let shonen of shonen let i = index" >
      <img (click)="irShonen(i)" class="animeimg" [src]="shonen.img" alt="">
      <p class="animenombre" text-center > {{ shonen.nombre }} </p>
    </ion-col>
    <ion-col col-3 *ngFor="let shonen of shonen let i = index" >
      <img (click)="irShonen(i)" class="animeimg" [src]="shonen.img" alt="">
      <p class="animenombre" text-center > {{ shonen.nombre }} </p>
    </ion-col>
  </ion-row> -->
  <ion-card>
    <ion-card-title>
      <h1 text-center>Bienvenido a Appanime (version Alpha)</h1>
    </ion-card-title>
    <ion-card-content>
      <img src="assets/imgs/Bienvenido.png" alt="">
      <p>Podras ver los openings de tus animes favoritos <br> y cantar con sus respectivas letras </p>
    </ion-card-content>
  </ion-card>
</ion-content>
